doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
		script(src="/javascripts/init.js")
		script(src="/javascripts/app.js")
	body
		block content
